<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<string>png0</string>
		<key>title</key>
		<string>左手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png1</string>
		<key>title</key>
		<string>左手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png2</string>
		<key>title</key>
		<string>左手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png3</string>
		<key>title</key>
		<string>左手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png4</string>
		<key>title</key>
		<string>左手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png5</string>
		<key>title</key>
		<string>左手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png6</string>
		<key>title</key>
		<string>右手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png7</string>
		<key>title</key>
		<string>右手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png8</string>
		<key>title</key>
		<string>右手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png9</string>
		<key>title</key>
		<string>右手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png10</string>
		<key>title</key>
		<string>右手</string>
	</dict>
	<dict>
		<key>index</key>
		<string>png11</string>
		<key>title</key>
		<string>右手</string>
	</dict>
</array>
</plist>
